<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_326506047877b43f10ea3cea6bafeeaa {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>

            <style>html, body {
                width: 100%;
                height: 100%;
                margin: 0;
                padding: 0;
            }
            </style>

            <style>#map {
                position:absolute;
                top:0;
                bottom:0;
                right:0;
                left:0;
                }
            </style>

            <script>
                L_NO_TOUCH = false;
                L_DISABLE_3D = false;
            </script>

        
</head>
<body>
    
    
            <div class="folium-map" id="map_326506047877b43f10ea3cea6bafeeaa" ></div>
        
</body>
<script>
    
    
            var map_326506047877b43f10ea3cea6bafeeaa = L.map(
                "map_326506047877b43f10ea3cea6bafeeaa",
                {
                    center: [-0.5, 116.9],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 7,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_d24289466b1e3400014a32bcc763fa18 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_d24289466b1e3400014a32bcc763fa18.addTo(map_326506047877b43f10ea3cea6bafeeaa);
        
    
            var circle_marker_7c9d155be20bfd304402f04f070da7fa = L.circleMarker(
                [-1.7, 116.0],
                {"bubblingMouseEvents": true, "color": "hotpink", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "pink", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 0.09746333333333333, "stroke": true, "weight": 3}
            ).addTo(map_326506047877b43f10ea3cea6bafeeaa);
        
    
        var popup_19a3767fe271cec5e82934efc0610364 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_6894a7f31fd683b6f3abae5fe88c88f0 = $(`<div id="html_6894a7f31fd683b6f3abae5fe88c88f0" style="width: 100.0%; height: 100.0%;">Paser - 29239</div>`)[0];
                popup_19a3767fe271cec5e82934efc0610364.setContent(html_6894a7f31fd683b6f3abae5fe88c88f0);
            
        

        circle_marker_7c9d155be20bfd304402f04f070da7fa.bindPopup(popup_19a3767fe271cec5e82934efc0610364)
        ;

        
    
    
            var circle_marker_001efe77b1e514ca6d506b0af1b03264 = L.circleMarker(
                [-0.5, 115.7],
                {"bubblingMouseEvents": true, "color": "hotpink", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "pink", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 0.060603333333333335, "stroke": true, "weight": 3}
            ).addTo(map_326506047877b43f10ea3cea6bafeeaa);
        
    
        var popup_92c1f31513224dcb06329c6d122327a7 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_1bb97f99dd022fd56edb3b92d81758ba = $(`<div id="html_1bb97f99dd022fd56edb3b92d81758ba" style="width: 100.0%; height: 100.0%;">Kutai Barat - 18181</div>`)[0];
                popup_92c1f31513224dcb06329c6d122327a7.setContent(html_1bb97f99dd022fd56edb3b92d81758ba);
            
        

        circle_marker_001efe77b1e514ca6d506b0af1b03264.bindPopup(popup_92c1f31513224dcb06329c6d122327a7)
        ;

        
    
    
            var circle_marker_fba6afb760c1e4e7fde36718be1daf03 = L.circleMarker(
                [-0.3, 116.5],
                {"bubblingMouseEvents": true, "color": "hotpink", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "pink", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 0.29930666666666667, "stroke": true, "weight": 3}
            ).addTo(map_326506047877b43f10ea3cea6bafeeaa);
        
    
        var popup_466c08e6fc82d216adf2b63abeb844f5 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_f9ccef2a608c87232a031e7e31b48bac = $(`<div id="html_f9ccef2a608c87232a031e7e31b48bac" style="width: 100.0%; height: 100.0%;">Kutai Kartanegara - 89792</div>`)[0];
                popup_466c08e6fc82d216adf2b63abeb844f5.setContent(html_f9ccef2a608c87232a031e7e31b48bac);
            
        

        circle_marker_fba6afb760c1e4e7fde36718be1daf03.bindPopup(popup_466c08e6fc82d216adf2b63abeb844f5)
        ;

        
    
    
            var circle_marker_a078ca2bb2a180907ab4f3c56f024edc = L.circleMarker(
                [0.5, 117.0],
                {"bubblingMouseEvents": true, "color": "hotpink", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "pink", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 0.015923333333333334, "stroke": true, "weight": 3}
            ).addTo(map_326506047877b43f10ea3cea6bafeeaa);
        
    
        var popup_18f92e4c1c9951248c2a3ca21d5029db = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_fcd08e94b1e586d60e6a4df8eff7b2f1 = $(`<div id="html_fcd08e94b1e586d60e6a4df8eff7b2f1" style="width: 100.0%; height: 100.0%;">Kutai Timur - 4777</div>`)[0];
                popup_18f92e4c1c9951248c2a3ca21d5029db.setContent(html_fcd08e94b1e586d60e6a4df8eff7b2f1);
            
        

        circle_marker_a078ca2bb2a180907ab4f3c56f024edc.bindPopup(popup_18f92e4c1c9951248c2a3ca21d5029db)
        ;

        
    
    
            var circle_marker_6bdbe98de17d8ee9a2aafa4563986c60 = L.circleMarker(
                [2.0, 117.3],
                {"bubblingMouseEvents": true, "color": "hotpink", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "pink", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 0.08956333333333333, "stroke": true, "weight": 3}
            ).addTo(map_326506047877b43f10ea3cea6bafeeaa);
        
    
        var popup_4c02c499c5c2355ad164734730438d02 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_6341a44d16684f273b741997f378f2a2 = $(`<div id="html_6341a44d16684f273b741997f378f2a2" style="width: 100.0%; height: 100.0%;">Berau - 26869</div>`)[0];
                popup_4c02c499c5c2355ad164734730438d02.setContent(html_6341a44d16684f273b741997f378f2a2);
            
        

        circle_marker_6bdbe98de17d8ee9a2aafa4563986c60.bindPopup(popup_4c02c499c5c2355ad164734730438d02)
        ;

        
    
    
            var circle_marker_f19580c09af41121744a8ebaf5df955a = L.circleMarker(
                [-1.25, 116.7],
                {"bubblingMouseEvents": true, "color": "hotpink", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "pink", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 0.17443, "stroke": true, "weight": 3}
            ).addTo(map_326506047877b43f10ea3cea6bafeeaa);
        
    
        var popup_76b45d2cb497c9846d3d8361e976ade1 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_35fb3b1ba1fae782d637c6208187b8fe = $(`<div id="html_35fb3b1ba1fae782d637c6208187b8fe" style="width: 100.0%; height: 100.0%;">Penajam Paser Utara - 52329</div>`)[0];
                popup_76b45d2cb497c9846d3d8361e976ade1.setContent(html_35fb3b1ba1fae782d637c6208187b8fe);
            
        

        circle_marker_f19580c09af41121744a8ebaf5df955a.bindPopup(popup_76b45d2cb497c9846d3d8361e976ade1)
        ;

        
    
    
            var circle_marker_e888db12cc113dba3e7ad70b15fc1d3a = L.circleMarker(
                [0.2, 114.9],
                {"bubblingMouseEvents": true, "color": "hotpink", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "pink", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 0.01175, "stroke": true, "weight": 3}
            ).addTo(map_326506047877b43f10ea3cea6bafeeaa);
        
    
        var popup_cbdc803392616937079a95a9e13812c2 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_5803c485facd7f80e9e6a858646c5a93 = $(`<div id="html_5803c485facd7f80e9e6a858646c5a93" style="width: 100.0%; height: 100.0%;">Mahakam Ulu - 3525</div>`)[0];
                popup_cbdc803392616937079a95a9e13812c2.setContent(html_5803c485facd7f80e9e6a858646c5a93);
            
        

        circle_marker_e888db12cc113dba3e7ad70b15fc1d3a.bindPopup(popup_cbdc803392616937079a95a9e13812c2)
        ;

        
    
    
            var circle_marker_7bc80bdd67c2580b3de7ef07aa6fb821 = L.circleMarker(
                [-1.265, 116.831],
                {"bubblingMouseEvents": true, "color": "hotpink", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "pink", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 0.24530333333333335, "stroke": true, "weight": 3}
            ).addTo(map_326506047877b43f10ea3cea6bafeeaa);
        
    
        var popup_49dd4c3a0dcc2615573d2769ec517c1d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_5e8116fe047be3e2f3557b81813a1bb9 = $(`<div id="html_5e8116fe047be3e2f3557b81813a1bb9" style="width: 100.0%; height: 100.0%;">Balikpapan - 73591</div>`)[0];
                popup_49dd4c3a0dcc2615573d2769ec517c1d.setContent(html_5e8116fe047be3e2f3557b81813a1bb9);
            
        

        circle_marker_7bc80bdd67c2580b3de7ef07aa6fb821.bindPopup(popup_49dd4c3a0dcc2615573d2769ec517c1d)
        ;

        
    
    
            var circle_marker_e4ae04e5d32d3f70a3f218ce86c2f8f7 = L.circleMarker(
                [-0.502, 117.153],
                {"bubblingMouseEvents": true, "color": "hotpink", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "pink", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 0.29077, "stroke": true, "weight": 3}
            ).addTo(map_326506047877b43f10ea3cea6bafeeaa);
        
    
        var popup_cd900f6b07ea74aa1203efe316898a74 = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_d01d8c5c552cfcb567d59ef21d48f40d = $(`<div id="html_d01d8c5c552cfcb567d59ef21d48f40d" style="width: 100.0%; height: 100.0%;">Samarinda - 87231</div>`)[0];
                popup_cd900f6b07ea74aa1203efe316898a74.setContent(html_d01d8c5c552cfcb567d59ef21d48f40d);
            
        

        circle_marker_e4ae04e5d32d3f70a3f218ce86c2f8f7.bindPopup(popup_cd900f6b07ea74aa1203efe316898a74)
        ;

        
    
    
            var circle_marker_821d7f8501eb4543fe82fe2c641dccf0 = L.circleMarker(
                [0.133, 117.485],
                {"bubblingMouseEvents": true, "color": "hotpink", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "pink", "fillOpacity": 0.7, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 0.006436666666666667, "stroke": true, "weight": 3}
            ).addTo(map_326506047877b43f10ea3cea6bafeeaa);
        
    
        var popup_8c2ef0035ff00b886b6315e16c8d104d = L.popup({
  "maxWidth": "100%",
});

        
            
                var html_cae61d8f67c0f460d2aed388407a5395 = $(`<div id="html_cae61d8f67c0f460d2aed388407a5395" style="width: 100.0%; height: 100.0%;">Bontang - 1931</div>`)[0];
                popup_8c2ef0035ff00b886b6315e16c8d104d.setContent(html_cae61d8f67c0f460d2aed388407a5395);
            
        

        circle_marker_821d7f8501eb4543fe82fe2c641dccf0.bindPopup(popup_8c2ef0035ff00b886b6315e16c8d104d)
        ;

        
    
</script>
</html>